ion-slide {
  padding: 300px 20px 160px 20px;
  display: block;

  h2 {
    font-size: 36px;
    font-weight: bold;
    color: hsl(0, 0%, 99%);
    padding-bottom: 20px;
  }
}

ion-slides {
  background-image: url('https://images.pexels.com/photos/4226263/pexels-photo-4226263.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

img {
  height: 100px;
  width: 100px;
  padding-top: 70px;
  padding-right: 40px;
}
