.class1 {
  float: left;
}
ion-toolbar {
  --ion-background-color: #0f4c81 !important;
}
ion-title {
  color: white;

  margin-left: 110px;
  margin-top: 5px;
}

.notification {
  float: right;
  margin-top: -25px;
}

ion-icon {
  width: 30px;
  height: 30px;
}
