<ion-header>
  <ion-toolbar>
    <ion-menu-toggle class="class1">
      <ion-icon name="menu" color="light"></ion-icon>
    </ion-menu-toggle>
    <ion-title>Join Meeting</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div #main>
  <div #container class="container" >
  		<div class="row" style="display:flex">
  			<div class="col-sm">
  				<div style="float: left">
            <ion-button (click)="leave()" color="danger" size="small" shape="round"><ion-icon name="call-outline"></ion-icon>
           </ion-button>
  				</div>
  			</div>
  			<div class="col-10">
  				<div #widgetsContent class="middle">
  					<div [ngClass]="'agora_remote'" *ngFor="let remote of remoteCalls" [id]="remote"
  						(click)="Toggle_Stream(remote)" [ngStyle]="{'cursor':'pointer'}"></div>
  				</div>
  			</div>
  			<div class="col-sm">
  				<div style="float: right">
            <ion-button (click)="fullScreen()" color="dark" size="small" shape="round"><ion-icon name="images-outline"></ion-icon>
          </ion-button>
  				</div>
  			</div>
  		</div>
  	</div>
  <div #agora_local id="agora_local" (click)="toggleView()" ></div>
  </div>

</ion-content>
