<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-icon name="menu" class="class1" color="light"></ion-icon>
    </ion-menu-toggle>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Subject</ion-label>
      <ion-textarea
        class="textarea"
        placeholder="write subject..."
        name="subject"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea
        class="textarea"
        placeholder="write Something..."
        name="message"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-button
        color="primary"
        type="submit"
        class="button is-danger is-large"
        >Submit</ion-button
      >
    </ion-item>
  </form>
  <h3 style="text-align: center;">Contact us on</h3>
  <ion-item class="icons">
    <ion-icon style="margin-left: 30px;" name="logo-facebook"></ion-icon>
    <ion-icon style="margin-left: 30px;" name="logo-linkedin"></ion-icon>
    <ion-icon style="margin-left: 30px;" name="mail"></ion-icon>

    <ion-icon
      style="margin-left: 30px;"
      ios="logo-instagram"
      md="logo-instagram"
    ></ion-icon>

    <ion-icon
      style="margin-left: 30px;"
      ios="logo-twitter"
      md="logo-twitter"
    ></ion-icon>
  </ion-item>
</ion-content>
