<ion-header>
  <ion-toolbar>
    <ion-menu-toggle class="class1">
      <ion-icon name="menu" color="light"></ion-icon>
    </ion-menu-toggle>
    <ion-title>About-us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-text color="primary">
      <h1>
        About-us
      </h1>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-text color="dark">
      <p>
        acuMeet is a video conferencing solution by Acupace Technologies Pvt
        Ltd. It assists masses in the current digital and progressive era,
        aiding diversity of enterprises to operate smoothly and securely without
        facing any financial crisis, bridging the communication gap between each
        entity with its easy accessibility and user-friendly interface.
      </p>
      <p>
        As we all know due to COVID-19, the various sectors that have been forced to switch to work
from home (Remote work) and may be further prefer this working arrangement after normal life
continues again. Now, a significant number of enterprises rely on video conferencing solutions.
Since Meetings have always been essential to business, school, college, university and
government work. Acupace Technologies has developed a simple, powerful, scalable service
“acuMeet” that gets out of your way and lets you get to work. Using “acuMeet” you can
host/attend online meetings, voice and video chat, along with join conferences, seminars and
other video meeting services.
      </p>
      <p class="copyright">Copyright@2020 Acupace/acuMeet</p>
    </ion-text>

  </ion-item>
</ion-content>
